@import '@styles/config';

.button {
  @include button;
}

.button__outline {
  @include button($color:$black,$bg: $background-color,$border-color: $black);

  &:hover {
    background: $horizontalRule;
  }
}

.button__small {
  font-size: $font-size-s;
  font-weight: 400;
  padding: 0.7rem 1.5rem;
  border-color: $horizontalRule;
  color: $paragraph;
}

//negative
.button__negative {
  @include button($color:$red,$bg: $background-color,$border-color: $red);

  &:hover {
    background: $horizontalRule;
  }
}

.button-text {
  padding: 0.8rem 2rem;
  color: $black;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-block;
  height: auto;

  & svg * {
    fill: $black;
  }

  &:hover {
    text-decoration: underline;
  }
}
//ラッパー

.button-wrapper-l {
  & button:first-of-type {
    margin-left: 0;
  }
}

.button-wrapper-r {
  & button:last-of-type {
    margin-right: 0;
  }

  & .button-inner {
    justify-content: flex-end;
  }
}

.button-inner {
  display: inline-flex;
  width: 100%;

  & button {
    margin: 0 1rem;
  }
}

//キャンセル

.button-cancel {
  color: $articleText;
  border: 1px solid $horizontalRule;
  background: $horizontalRule;

  &:hover {
    color: $articleText;
    background: $grey60;
    border-color: $grey60;
  }
}
/*アクション*/
.action-button {
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
}
//ソーシャル

.social-button {
  position: relative;
  overflow: hidden;
  padding: 0.8rem 2rem;
  color: $black;
  border: 1px solid $black;
  border-radius: $btn-rounded;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-flex;
  height: auto;

  &:hover {
    background: $black;
    color: $white;
  }

  & .button-prefix {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: $white;
    border-right: 1px solid $black;

    & svg {
      width: auto;
      height: 20px;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      margin: 0;
    }
  }

  & .social-button-inner {
    padding-left: 50px;
    width: 100%;
  }
}

//選択（２つ）

.button-choice-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .button-choice-l {
    margin-right: 1rem;
    justify-content: center;
  }

  & .button-choice-r {
    margin-left: 1rem;
    justify-content: center;
  }
  @media screen and (max-width: $phablet) {
    grid-template-columns: 1fr;

    & .button-choice-l,
    .button-choice-r {
      margin: 0;
    }

    & .button-choice-l {
      margin-bottom: 2rem;
    }
  }
  @media screen and (max-width: $phablet) {
    grid-template-columns: 1fr;
  }
}
//フォーム・セレクトボタン

.select-button.ico {
  height: 100%;
  width: 100%;
  color: $articleText;
  border: 1px solid $horizontalRule;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  justify-content: flex-start;

  &:hover {
    border-color: $black;
  }
}

.select-button-bottom {
  margin-bottom: 1.5rem;
}

//アイコン

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

#fixed-button {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 8000;
  @media(max-width: $phablet) {
    bottom: 7rem;
    right: 2rem;
  }
}

.icon__button__plane {
  border-radius: 50%;
  transition: $fade;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 1;
  }

  &:hover:before {
    background: $snow;
  }

  & svg {
    height: 1.5rem;
    width: auto;
    position: relative;
    z-index: 100;
    @media (min-width: $phablet) {
      height: 2rem;
    }
  }
}

.icon__button {
  padding: 1.5rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  transition: $fade;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  box-shadow: $shadow;

  &:hover {
    box-shadow: $hover-shadow;
  }
  @media (min-width: $phablet) {
    padding: 2rem;
    width: 6rem;
    height: 6rem;
  }

  & svg {
    height: auto;
    width: 1.8rem;
    @media (min-width: $phablet) {
      width: 2rem;
    }
  }
}

//arrow button
.arrow__button {
  @include button($color:$black,$bg: $background-color,$border-color: none);
  padding-left: 0;

  & svg {
    margin: 0 0 0 0.4em;
  }

  &:hover {
    background: none;
    text-decoration: underline;
  }
}
