@import "@styles/config";

//item
.form__item {
  margin-bottom: $gutter * 2;
}
//input
.input__container {
  position: relative;

  & .input__prefix {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    @include flex;

    & svg {
      @include icon($icon-color: $grey, $icon-size: $icon-size-min);
      padding: 0 1.5rem;
    }
  }

  & .input__suffix {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: inherit;

    &:before {
      content: "";
      position: absolute;
      top: 25%;
      left: 0;
      width: 1px;
      height: 50%;
      background: $horizontalRule;
    }

    & .input__subtext {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 2rem;
      font-size: $font-size-s;

      &:hover {
        color: $accent;
      }
    }
  }

  & .input {
    @include input;
  }

  & .input__icon {
    @include input($padding: $gutter $gutter $gutter 4.2rem);
  }
}

//label
.label {
  margin-bottom: 1rem;
  font-weight: 600;
}

//helper text
.helper__strong,
.helper__text {
  font-size: $font-size-s;
  color: $grey;
  margin-top: 1rem;
}

//textarea
.textarea {
  @include input($height: $gutter * 6);
}
