@import '@styles/config';

//icon
.upload__icon {
  margin: $gutter 0;

  & .upload__icon__inner {

    position: relative;
    @include flex;
    @include user-icon-l;
    margin: 0 auto;
    cursor: pointer;
    transition: $fade;

    &:hover {
      border-color: $accent;
    }

    & .upload__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  & .upload__helper__text {
    cursor: pointer;
    font-size: $font-size-s;
    color: $grey;
    margin: $gutter 0 0;
    text-align: center;

    &:hover {
      text-decoration: underline;

    }
  }
}

.upload__user__icon {
  @extend .upload__icon;
  border: $border;
}
