.button {
  padding: 0.8rem 2rem;
  color: $white;
  background: $accent;
  border: 1px solid $accent;
  border-radius: $btn-rounded;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-block;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  & svg {
    height: 1.2rem;
    width: auto;
    margin-right: 0.5em;
  }

  & svg * {
    fill: $white;
  }

  &:hover {
    background: $accent80;
    border-color: $accent80;
  }
}

.button-accent {
  padding: 0.8rem 2rem;
  color: $white;
  background: $accent;
  border: 1px solid $accent;
  border-radius: $btn-rounded;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-block;
  height: auto;

  &:hover {
    background: $accent80;
    border-color: $accent80;
  }
}

.button-ol {
  padding: 0.8rem 2rem;
  color: $black;
  border-radius: $btn-rounded;
  border: 1px solid $black;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-block;
  height: auto;

  &:hover {
    background: $horizontalRule;
  }
}

.button-text {
  padding: 0.8rem 2rem;
  color: $black;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-block;
  height: auto;

  & svg * {
    fill: $black;
  }

  &:hover {
    text-decoration: underline;
  }
}
//ラッパー

.button-wrapper-l {
  & button:first-of-type {
    margin-left: 0;
  }
}

.button-wrapper-r {
  & button:last-of-type {
    margin-right: 0;
  }

  & .button-inner {
    justify-content: flex-end;
  }
}

.button-inner {
  display: inline-flex;
  width: 100%;

  & button {
    margin: 0 1rem;
  }
}
//negative

.button-red {
  color: $white;
  border: 1px solid $red;
  background: $red;

  & svg {
    path {
      fill: $white;
    }
  }

  &:hover {
    border: 1px solid $red;
    background: $red;
  }
}
//キャンセル

.button-cancel {
  color: $articleText;
  border: 1px solid $horizontalRule;
  background: $horizontalRule;

  &:hover {
    color: $articleText;
    background: $grey60;
    border-color: $grey60;
  }
}
/*グレーアウト*/
.button-grey-out {
  color: $grey;
  border: 1px solid $grey;
  pointer-events: none;
}
/*アクション*/
.action-button {
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
}
//ソーシャル

.social-button {
  position: relative;
  overflow: hidden;
  padding: 0.8rem 2rem;
  color: $black;
  border: 1px solid $black;
  border-radius: $btn-rounded;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: $fade;
  display: inline-flex;
  height: auto;

  &:hover {
    background: $black;
    color: $white;
  }

  & .button-prefix {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: $white;
    border-right: 1px solid $black;

    & svg {
      width: auto;
      height: 20px;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      margin: 0;
    }
  }

  & .social-button-inner {
    padding-left: 50px;
    width: 100%;
  }
}
/*入力*/
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  & .input-prefix {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    & svg {
      width: auto;
      height: 15px;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;

      & path {
        fill: $grey;
      }
    }
  }

  & .input-suffix {
    right: 0;
    position: absolute;
    top: 0;
    height: 100%;
    line-height: inherit;

    &:before {
      content: '';
      position: absolute;
      top: 25%;
      left: 0;
      width: 1px;
      height: 50%;
      background: rgb(223, 225, 234);
    }

    & a {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 2rem;
    }
  }

  & .input-inner {
    padding-left: 45px;
  }
}

.input-inner {
  padding: 1.5rem 2rem;
  border: 1px solid $horizontalRule;
  border-radius: $btn-rounded;
  font-weight: 600;

  &:hover {}

  &::placeholder {
    color: $grey;
    font-weight: 400;
    font-size: 1.3rem;
  }
}
//選択（２つ）

.button-choice-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .button-choice-l {
    margin-right: 1rem;
    justify-content: center;
  }

  & .button-choice-r {
    margin-left: 1rem;
    justify-content: center;
  }
  @media screen and (max-width: $phablet) {
    grid-template-columns: 1fr;

    & .button-choice-l,
    .button-choice-r {
      margin: 0;
    }

    & .button-choice-l {
      margin-bottom: 2rem;
    }
  }
  @media screen and (max-width: $phablet) {
    grid-template-columns: 1fr;
  }
}
//フォーム・セレクトボタン

.select-button.ico {
  height: 100%;
  width: 100%;
  color: $articleText;
  border: 1px solid $horizontalRule;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  justify-content: flex-start;

  &:hover {
    border-color: $black;
  }
}

.select-button-bottom {
  margin-bottom: 1.5rem;
}
//アクティブ

button.button-active {
  border: 1px solid $horizontalRule;
  border-radius: 50%;

  svg {
    margin: 0.4rem;
    width: 7px;
  }
}

.button-active-number {
  margin: 0 0.8rem;
}
//width100

.button-w100 {
  display: block;
  width: 100%;
  text-align: center;
}
//アイコン

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

#fixed-button {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 8000;
  @media(max-width: $phablet) {
    bottom: 7rem;
    right: 2rem;
  }
}

.ico-button-plane {
  border-radius: 50%;
  transition: $fade;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 1;
  }

  &:hover:before {
    background: $snow;
  }

  & svg {
    height: 1.5rem;
    width: auto;
    position: relative;
    z-index: 100;
    @media (min-width: $phablet) {
      height: 2rem;
    }
  }
}

.ico-button {
  padding: 1.5rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  transition: $fade;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  box-shadow: $shadow;

  &:hover {
    box-shadow: $hover-shadow;
  }
  @media (min-width: $phablet) {
    padding: 2rem;
    width: 6rem;
    height: 6rem;
  }

  & svg {
    height: auto;
    width: 1.8rem;
    @media (min-width: $phablet) {
      width: 2rem;
    }
  }
}
//バックページ

.back-button {
  font-size: $small;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 3rem;
  color: $black;

  & svg {
    transform: rotate(180deg);
  }
  @media(max-width: $desktop) {
    display: none;
  }
}
