.contents {
  margin: 10rem auto;
  background: var(--bacground-color);
  @media (max-width: $phablet) {
    margin: 6rem auto;
  }
}
/*Card*/
.card {
  border-radius: var(--rounded);
  overflow: hidden;
  padding: 2rem;
  border: 1px solid var(--horizontalRule);
  background: var(--background-color);
}

a.card:hover {
  border-color: var(--black);
}

.card-wrapper {
  padding: 2rem;
}

.card-border {
  border-radius: var(--rounded);
  overflow: hidden;
  border: 1px solid var(--horizontalRule);
}
/*Border*/
.border {
  border: 1px solid var(--horizontalRule);
}
//Border Radius

.border-radius {
  border-radius: var(--rounded);
  overflow: hidden;
}
/*Flex*/
.flex {
  display: flex;
  align-items: center;
}
//幅

.w-auto {
  width: auto;
}

.w100 {
  width: 100%;
}
//通知

.notification-success {
  padding: 2rem;
  background: var(--accent);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9900;

  & .notice-message {
    color: var(--white);
    font-size: var(--small);
  }
}