h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  font-weight: 700;
  color: $title;
  width: 100%;
  max-width: $desktop_large;
  font-feature-settings: "palt";
  white-space: normal;
}

h1,
h1 *,
h2,
h2 * {
  margin: 0 auto 1rem;
}

h3,
h3 * {
  margin: 0 auto 1rem;
}

h1 {
  font-size: $font-size-h1;
  line-height: 1.35;
}

h2 {
  font-size: 3.4rem;
  line-height: 1.333;
}

h3 {
  font-size: 2.3rem;
  line-height: 1.45;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.45;
}

h5 {
  font-size: 2rem;
  line-height: 1.55;
}

h6,
strong {
  font-size: $font-size;
  font-weight: 600;
}

p {
  margin: 0 auto $gutter;
}

ul li {
  margin-bottom: $gutter;
  margin-left: 2rem;

  &:before {
    font-family: $title;
    content: "•";
    color: $black;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
