@font-face {
  font-family: 'Heisei Kaku Gothic';
  src: url('/fonts/Heisei-Kaku-Gothic-400.otf') format("otf");
  font-weight: 400;
}
@font-face {
  font-family: 'Heisei Kaku Gothic';
  src: url('/fonts/Heisei-Kaku-Gothic-600.otf') format("otf");
  font-weight: 600;
}
@font-face {
  font-family: 'Heisei Kaku Gothic';
  src: url('/fonts/Heisei-Kaku-Gothic-700.otf') format("otf");
  font-weight: 700;
}
@font-face {
  font-family: 'DNP Shuei Gothic Kin Std';
  src: url('/fonts/DNP-Shuei-Gothic-Kin-Std-L.otf') format("otf");
  font-weight: 400;
}
@font-face {
  font-family: 'DNP Shuei Gothic Kin Std';
  src: url('/fonts/DNP-Shuei-Gothic-Kin-Std-M.otf') format("otf");
  font-weight: 600;
}
@font-face {
  font-family: 'DNP Shuei Gothic Kin Std';
  src: url('/fonts/DNP-Shuei-Gothic-Kin-Std-B.otf') format("otf");
  font-weight: 700;
}
@font-face {
  font-family: 'Circular';
  src: url('/fonts/Circular-Book.otf') format("otf");
  font-weight: 400;
}
@font-face {
  font-family: 'Circular';
  src: url('/fonts/Circular-Medium.otf') format("otf");
  font-weight: 600;
}
@font-face {
  font-family: 'Circular';
  src: url('/fonts/Circular-Bold.otf') format("otf");
  font-weight: 700;
}
