//Flex
@mixin flex($align-items: center,$justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin inline-flex($align-items: center,$justify-content: center) {
  display: inline-flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

//Image
@mixin icon ($icon-size: $icon-size, $icon-color: $black) {
  width: auto;
  height: $icon-size;
  transition: $fade;
  margin: 0;

  & * {
    fill: $icon-color;
  }
}

@mixin user-icon {
  height: $user-icon-size;
  width: $user-icon-size;
  min-width: $user-icon-size;
  border-radius: 50%;
  overflow: hidden;
  border: $border;
}

@mixin user-icon-s {
  height: $user-icon-size-min;
  width: $user-icon-size-min;
  min-width: $user-icon-size-min;
  border-radius: 50%;
  overflow: hidden;
  border: $border;
}

@mixin user-icon-l {
  height: $user-icon-size-max;
  width: $user-icon-size-max;
  min-width: $user-icon-size-max;
  border-radius: 50%;
  overflow: hidden;
  border: $border;
  margin: auto;
  border-width: 2px;
}

//Button
@mixin button($color:$white,$bg: $accent,$border-color: $accent, $border-width: 1px) {
  @include inline-flex;
  padding: 1rem $gutter;
  color: $color;
  background: $bg;
  border: $border-width solid $border-color;
  border-radius: $btn-rounded;
  font-weight: 600;
  font-size: $font-size;
  line-height: 1;
  transition: $fade;
  height: auto;
  white-space: nowrap;

  &:hover {
    background: $accent80;
  }

  & svg {
    @include icon($icon-color: $color);
    margin-right: 0.4em;
  }
}

//Card
@mixin card {
  overflow: hidden;
  border-radius: $rounded;
  border: $border;
  padding: $gutter;
}

@mixin card-dropdown {
  overflow: hidden;
  border-radius: $rounded;
}

//input
@mixin input($padding: $gutter, $height: $gutter*2) {
  width: 100%;
  height: $height;
  border: $border;
  border-radius: $btn-rounded;
  transition: $fade;
  padding: $padding;
  font-size: $font-size;

  &:focus {
    border-color: $accent;
  }
}

//Text
@mixin line-clamp1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@mixin line-clamp2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@mixin line-clamp3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@mixin line-clamp5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

//Img 4:3
@mixin img-standard {
  @include flex;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 75%;
  }

  & img {
    height: 100%;
    overflow: hidden;
    border-radius: $rounded;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
