.user-row {
  text-align: center;

  & .user-container {
    display: block;
    //画像
    & .user-avatar {
      margin: auto;
      height: 100px;
      width: 100px;
      pointer-events: none;
    }
    //名前
    & .user-inner {
      padding: 2rem 0;

      & .name {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: var(--headings);
      }

      & .user-bio {
        max-width: 450px;
        text-align: left;
        margin-bottom: 1rem;
      }

      & .user-social {
        & svg {
          width: auto;
          height: 17px;

          & path {
            fill: var(--black);
          }
        }

        & .user-social-link {
          padding: 0 1rem;

          &:hover svg path {
            fill: var(--accent);
          }
        }
      }
      //データ
      & .user-data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3.5rem 0;

        & .user-data-inner {
          padding: 0 2rem;
          border-left: 1px solid var(--horizontalRule);
          @media screen and (max-width: $phone) {
            padding: 0 1.6rem;
          }

          &.user-data-inner-start {
            border: none;
          }

          & h6 {
            font-size: 2.5rem;
            font-family: var(--headings);
            font-weight: 600;
            color: var(--black);
          }

          & span {
            color: var(--grey);
            font-family: var(--paragraph);
          }

          &:hover {
            & h6 {
              text-decoration: underline;
            }

            & span {
              color: var(--black);
            }
          }
        }
      }
    }
  }
}
/*User*/
.user-container {
  display: flex;
  align-items: center;
  position: relative;

  & .user-inner {
    display: block;
    line-height: 1;
  }

  & .user-avatar {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
    border: 1px solid var(--horizontalRule);
    transition: var(--fade);
    @media (max-width: $phablet) {
      height: 3rem;
      width: 3rem;
    }

    &:hover {
      border-color: var(--accent);
    }
  }

  & .user-text {
    font-size: var(--small);
    font-feature-settings: "palt";
    letter-spacing: 0.06rem;
    margin: 0;
    color: var(--black);
  }

  & .name {
    font-weight: 600;
    max-width: 16rem;
    @include line-clamp1;
  }
}
//ユーザー・ナビ

.user-nav {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--horizontalRule);
  padding-bottom: 2rem;

  & .user-nav-inner {
    padding-right: 4rem;
    font-weight: 500;
    color: var(--grey);
    @media screen and (max-width: $phone) {
      padding-right: 3rem;
    }

    &:hover {
      color: var(--black);
    }
  }
}
//一覧

.user-data-wrapper {
  //データ
  & .user-data {
    margin-left: 0.4em;
  }
}
//アクティビティ

.activity-item {
  display: grid;
  grid-template-columns: 2rem 1fr 4rem;
  font-size: var(--small);
  padding: 2rem;
  font-weight: 400;
  color: var(--black);
  min-width: 40rem;
  grid-column-gap: 1rem;
  border-bottom: 1px solid var(--horizontalRule);
  cursor: auto;

  &:last-child {
    border: none;
  }
  //アイコン
  & .activity-ico {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 0.3rem;
  }
  //テキスト
  & .activity-text-wrapper * {
    font-size: var(--small);
  }

  & .activity-text {
    margin: 0;
    color: var(--articleText);
  }

  .activity-recipe,
  .activity-user {
    font-weight: 600;
    color: var(--black);
    display: contents;
  }

  & .activity-date {
    color: var(--articleText);
    text-align: right;
  }
  //レビュー
  & .activity-review-inner {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column-gap: 1rem;
    margin-top: 1rem;

    & * {
      margin: 0;
    }

    & .activity-review-img {
      width: 100%;
      height: 70%;
      border-radius: var(--rounded);
      display: flex;
      justify-content: center;
      text-align: center;
      overflow: hidden;

      & img {
        margin: 0;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    & .activitiy-rating {
      margin-bottom: 0.5rem;

      & svg {
        width: auto;
        height: 0.8rem;
        margin-right: 0.2em;

        &:last-child {
          margin-right: 0;
        }

        & * {
          fill: var(--accent);
        }
      }
    }
  }
}
//ピックアップ

.shot.pickup-user {
  width: 32rem;
}

.pickup-user-wrapper {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-column-gap: 2rem;
  //アイコン
  & .user-container {
    align-items: flex-start;

    & .user-avatar {
      height: 8rem;
      width: 8rem;
    }
  }
  //プロフィール
  & .user-profile {
    & .user-bio {
      font-size: var(--small);
      margin: 0;
      @include line-clamp3;
    }
  }
}
//アクティビティ

.activity-list {
  & .activity-item {
    grid-template-columns: 8rem 1fr 10rem;
    grid-column-gap: 2rem;
    padding: 2rem 0;
    @media (max-width: $tablet) {
      grid-template-columns: 6rem 1fr;
      grid-column-gap: 2rem;
    }
    min-width: 100%;
    align-items: center;
  }

  & .activity-text-wrapper * {
    @media (min-width: $tablet) {
      font-size: var(--normal);
    }
  }

  & .activity-user-wrapper * {
    @media (min-width: $tablet) {
      font-size: 1.7rem;
    }
  }

  & .activity-recipe {
    font-weight: 400;
    text-decoration: underline;
    color: var(--articleText);
  }

  & .activity-date {
    font-size: var(--small);
    margin-top: 0.5rem;
    display: block;
    text-align: left;
  }

  & .activity-ico {
    width: 8rem;
    height: 8rem;
    @media (max-width: $tablet) {
      width: 6rem;
      height: 6rem;
    }
  }

  & .activity-review-inner {
    display: block;
  }

  & .activity-img {
    width: 100%;
    height: 70%;
    border-radius: var(--rounded);
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    @media (max-width: $tablet) {
      display: none;
    }

    & img {
      margin: 0;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}