//Breakpoints
$phone: 376px;
$phablet: 540px;
$tablet: 735px;
$desktop: 1070px;
$desktop_medium: 1280px;
$desktop_large: 1500px;

$gutter: 2rem;
$block-gutter: calc(60px + (100 - 60) * ((100vw - 375px) / (1500 - 375)));
$container-gutter: calc(20px + (50 - 20) * ((100vw - 375px) / (1500 - 375)));
$block-gutter: calc(60px + (100 - 60) * ((100vw - 375px) / (1500 - 375)));

//Fonts
$font-family: "Circular", "DNP Shuei Gothic Kin Std", sans-serif;
$title: #231e2d;
$paragraph: #4f4b57;
$line-height: 1.8;

$font-size-l: calc(18px + (22 - 18) * ((100vw - 375px) / (1500 - 375)));
$font-size: 1.5rem;
$font-size-s: 1.2rem;

$font-size-h1: calc(25px + (40 - 25) * ((100vw - 375px) / (1500 - 375)));
$font-size-tab: calc(11px + (14 - 11) * ((100vw - 375px) / (1500 - 375)));

$xs: 0.9rem; //消す
$small: 1.2rem; //消す
$medium: 1.4rem; //消す
$normal: 1.5rem; //消す

//Color
$snow: #f7f7f9;
$white: #fff;
$black: #231e2d;
$accent: #ff5445;

$accent80: #cc4337;
$accent60: #993229;
$snow80: #d3d3dd;
$snow75: #b6b6bf;
$black110: #393142;
$black80: #16131a;

//Secondary
$grey: #b6b6bf;

//Secondary - GRADATIONS
$grey60: rgba(176, 176, 176, 0.6);
$grey40: rgba(176, 176, 176, 0.4);
$grey20: rgba(176, 176, 176, 0.2);

//Tertiary
$blue: #345bf4;
$green: #2ed9a3;
$orange: #f48434;
$yellow: #f4ee34;
$red: #f43434;

//Other
$articleText: #4f4b57;
$background-color: #fff;
$horizontalRule: rgba(8, 8, 11, 0.15);
$xs: 0.9rem;
$small: 1.2rem;
$medium: 1.4rem;
$normal: 1.5rem;
$fade: 0.2s;
$rounded: 10px;
$btn-rounded: 4px;
$overlay: rgba(35, 30, 45, 0.7);
$shadow: 0 0 10px rgba(0, 0, 0, 0.08);
$hover-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//Other - Gradations
$articleText80: rgba(79, 75, 87, 0.8);
$accent60: rgba(255, 84, 69, 0.6);
//Dark
$d-articleText: #c2bbd2;

//Header
$header: calc(45px + (75 - 45) * ((100vw - 375px) / (1500 - 375)));

//Animations
$scroll: all 0.7s cubic-bezier(0.63, 0.03, 0.17, 0.95);
$show: cubic-bezier(0.63, 0.03, 0.17, 0.95);

//Icons
$icon-size-max: 5rem;
$icon-size: 1.6rem;
$icon-size-min: 1.2rem;

$icon-size-button: calc(45px + (55 - 45) * ((100vw - 375px) / (1500 - 375)));
$icon-size-button-big: calc(
  2.5rem + (45 - 25) * ((100vw - 375px) / (1500 - 375))
);
$icon-size-nav: calc(1.6rem + (20 - 16) * ((100vw - 375px) / (1500 - 375)));

$user-icon-size-max: calc(
  100px + (150 - 100) * ((100vw - 375px) / (1500 - 375))
);
$user-icon-size: 3.5rem;
$user-icon-size-min: 2.5rem;

//Border
$border: 1px solid $horizontalRule;
