.badge-wrapper {
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.badge {
	margin-left: 1rem;
	padding: .1rem .6rem;
	background: var(--accent);
	color:  var(--white);
	border-radius: 4px;
	font-size: 1.2rem;
	pointer-events: none;
	display: table;
}

// 1位のレシピ
.top-recipe {
	align-items: center;
& svg {
	width: auto;
	height: 1em;
	margin: 0;
	position: relative;
	top: -.1em;
}}
