@import "@styles/config.scss";

.layout {
  display: block;
  min-height: 100vh;
}

.page {
  max-width: $desktop_large;
  margin: auto;
}

.flex__page {
  @include flex;
}

.article {
  & p > a {
    text-decoration: underline;
    color: $accent;
  }
}
