{{ define "main" }}
<div id="hero">
  <div class="section">
    <div class="hero-wrapper">
      <div class="hero-text-inner">
        <div class="hero-text">
                      <h1>Ceaperは、キャンプを愛する全ての人に向けた料理マネジメントサービスです。</h1>
                      <p>Ceaperは、キャンプを愛する人に向けた料理マネジメントサービスです。Ceaperは、キャンプを愛する人に向けた料理マネジメントサービスです。</p>
                <a class="button button-accent" href="/signup">アカウントを作成</a>
                <a class="button-text" href="/signup">使い方を学ぶ</a>
              </div>
      </div>
      <div class="hero-img-inner">
        <img src="/images/home/hero.svg"  alt="hero"/>
      </div>
</div>
</div>
</div>




{{ end }}
