  <div class="section" style="padding-right:0;">
        <div class="review-wrapper">
          {{ partial "review.html" . }}
          {{ partial "review.html" . }}
          {{ partial "review.html" . }}
          {{ partial "review.html" . }}
          {{ partial "review.html" . }}
          {{ partial "review.html" . }}
          {{ partial "review.html" . }}
      </div>
</div>
<div class="reviews-link">
  <a class="hover-accent"><h6 class="small-text" style="text-align:center">全てのレビューを見る</h6></a>
</div>
