<div class="contents">
    <div class="section">
      <div class="cat-title"><h3 class="sections-title">キャンプ道具から調べる</h3>
    </div>
        <div class="scenes-wrapper">
          {{ partial "scene.html" . }}
          {{ partial "scene.html" . }}
          {{ partial "scene.html" . }}
          {{ partial "scene.html" . }}
          {{ partial "scene.html" . }}
          {{ partial "scene.html" . }}
      </div>
  <a class="learn-more flex">他のキャンプ道具から調べる {{ partial "icons/ui/arrow-r" . }}</a>
</div>
</div>
