    <a  href="/recipe">
<div class="popular-recipe-wrapper popular-recipe-top">
  <div class=" ranking-number">
    {{ partial "icons/ui/medal-second-recipe" . }}
  </div>
  <div class="popular-recipe-img card">
    <img src="/images/mock/food.jpg"  alt="popular recipe"/>
  </div>
  <div class="popular-recipe-inner">
    <h3 class="top-recipe">ゴルゴンゾーラとトマトのカプレーゼ</h3>
    <div class="rating">
      <div class="star star4">
      ★★★★
    </div>
    <div class="star-bg">
      ★★★★★
    </div>
    </div>
    <div class="recipes-bio-wrapper">
      <div class="recipes-inner recipes-data">
              <div class="cook">
        <span class="recipes-ico">
{{ partial "icons/ui/cook" . }}1135</span>
      </div>
      <span>・</span>
      <div class="time">
        <span class="recipes-ico">
{{ partial "icons/ui/time" . }}15分</span>
      </div>
    </div>
    <div class="recipes-inner">
        <div class="user-container">
  <div class="user-avatar user-inner">
      <img src="/images/mock/user.jpg">
  </div>
  <div class="user-inner">
      <p class="user-text name">ケリー小田</p>
  </div>
</div>
</div>
    </div>
  </div>
</div>
</a>
