<!--アイコンクリックで、左右に一定量スクロールする-->
<div class="tag-bar-wrapper">
    <a class="active ico-button tag-bar-back tag-bar-ico">
      {{ partial "icons/ui/back" . }}
    </a>
    <a class="active ico-button tag-bar-next tag-bar-ico">
      {{ partial "icons/ui/next" . }}
    </a>
  <div class="tag-bar">
  <div class="tag xs-text-bar small-text">
  	<a class="tag xs-text">マカロニ</a>
  	<a class="tag xs-text">海老</a>
  	<a class="tag xs-text">ブロッコリー</a>
  	<a class="tag xs-text">玉ねぎ</a>
  	<a class="tag xs-text">豚肉</a>
    <a class="tag xs-text">人参</a>
    <a class="tag xs-text">オリーブオイル</a>
    <a class="tag xs-text">チーズ</a>
    <a class="tag xs-text">ほうれん草</a>
    <a class="tag xs-text">ごま油</a>
    <a class="tag xs-text">チョコレート</a>
    <a class="tag xs-text">レモン</a>
    <a class="tag xs-text">ゴボウ</a>
    <a class="tag xs-text">きのこ</a>
    <a class="tag xs-text">ナツメグ</a>
    <a class="tag xs-text">ニラ</a>
    <a class="tag xs-text">豆腐</a>
</div>
</div>
</div>
