<div class="shot">
    <div class="user-container">
  <div class="user-avatar user-inner">
  <img src="/images/mock/user.jpg">
  </div>
  <div class="user-inner">
    <h6>ゴルゴンゾーラとトマトのカプレーゼ</h6>
    <a class="user-link user-text name">ケリー小田</a>
  </div>
  </div>
  <div class="shot-recipe-img">
<a href="/recipe"><img class="card"src="/images/mock/food.jpg"  alt="shot recipe"/></a>
</div>
<div class="shot-recipe-inner">
<div class="recipes-bio-wrapper">
<div class="recipes-inner recipes-data">
        <div class="cook">
  <span class="recipes-ico">
{{ partial "icons/ui/cook" . }}1135</span>
</div>
<span>・</span>
<div class="time">
  <span class="recipes-ico">
{{ partial "icons/ui/time" . }}15分</span>
</div>
<!--レシピの材料を上から順に取得-->
<div class="shot-ingredients-wrapper">
<div class="shot-ingredients">
トマト, ゴルゴンゾーラ, バジル, オリーブオイル, 塩, 黒こしょう
</div>
</div></div>
<div class="recipes-inner">
</div>
</div>
</div>
</div>
