a{
  color: var(--articleText);
      line-height: 1.756;
      transition: .15s;
      @media screen and (max-width: $phone) {
          font-size: 1.6rem;
        }
}

a:hover{
  text-decoration-color: var(--accent);
}

a.hover-accent:hover {
  color: var(--accent);
   & svg path {
    fill: var(--accent);

   }
}

a.hover-black:hover {
  color: var(--black);
}

a.hover-white:hover {
  color: var(--white);
}

a.hover-line:hover {
  text-decoration: underline;
  text-decoration-color: var(--black);
}

/*もっと見る*/
.learn-more {
  white-space: nowrap;
  font-size: 1.5rem;
align-items: center;
padding-top: 2.5rem;
justify-content: flex-end;
  & svg{
    width: 15px;
    margin-left: 2rem;
  }
  &:hover{
  text-decoration: underline;
 }
}
/*イベント無効*/
.event-none {
  pointer-events: none;
}

//ボーター
.border-text {
  text-decoration: underline;
}
