//本文
.article {
  //タイトル
  h1 {
    margin-bottom: 1em;
  }
  //カテゴリー
  h2  {
    position: relative;
display: inline-flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid var(--horizontalRule);
margin: 0;
    a {
      font-size: 1.7rem;
      margin: 0;
      color: var(--black);
      width: 100%;
      padding-right: 2rem;
      display: block;
      padding: 1.7rem 0;
      @media screen and (max-width: $phone) {
          font-size: 1.5rem;
        }
      &:after{
display: none;
      }
&:hover{
  color: var(--accent);
}
    }
    &::after {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23231e28'><path d='M12.08105,18.167a.99974.99974,0,0,1-.71923-1.69433L16.64453,11H1A1,1,0,0,1,1,9H16.64453L11.36182,3.52734a.9997.9997,0,1,1,1.43847-1.38867l6.91455,7.16211a1.01391,1.01391,0,0,1,.10889.13184l.001.002h0a.98794.98794,0,0,1,.12744.25977h0l.00049.00195A.98974.98974,0,0,1,20,9.999v.002a.98974.98974,0,0,1-.04736.30273l-.00049.00195h0a.98794.98794,0,0,1-.12744.25977h0l-.001.002a1.01391,1.01391,0,0,1-.10889.13184l-6.91455,7.16211A.99661.99661,0,0,1,12.08105,18.167Z'></path></svg>") no-repeat;
  content: "";
  width:20px;
  height: 20px;
  right: 0;
  top:0;
  bottom: 0;
    }
  }

  //Headings
  h4 {
    font-size: 2rem;
    margin-bottom: .4em;
  }
  //リンク
  p > a {
    color: var(--accent);
    display: inline-block;
    &:after {
      content: "";
      background: var(--accent);
      height: .2rem;
      transition: opacity .3s;
      transform: translateY(-.01em);
      width: 100%;
      opacity: 0;
      display: block;

    }
    &:hover:after {
opacity: 1;
   }
  }
}
