.button {
  padding: 1rem 2rem;
  color: var(--white);
  background: var(--black);
  border: 1px solid var(--black);
  border-radius: var(--btn-rounded);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: var(--fade);
  display: inline-block;
  height: auto;

  & svg * {
    fill: var(--white);
  }

  &:hover {
    background: var(--accent);
    border: 1px solid var(--accent);
  }
}

.button-ol {
  padding: 1rem 2rem;
  color: var(--black);
  border-radius: var(--btn-rounded);
  border: 1px solid var(--black);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: var(--fade);
  display: inline-block;
  height: auto;

  &:hover {
    color: var(--white);
    background: var(--black);

    & svg * {
      fill: var(--white);
    }
  }
}

.button-text {
  padding: 1rem 2rem;
  color: var(--black);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: var(--fade);
  display: inline-block;
  height: auto;

  & svg * {
    fill: var(--black);
  }

  &:hover {
    text-decoration: underline;
  }
}
//negative

.button-red {
  color: var(--white);
  border: 1px solid var(--red80);
  background: var(--red80);

  & svg {
    path {
      fill: var(--white);
    }
  }

  &:hover {
    border: 1px solid var(--red);
    background: var(--red);
  }
}
//キャンセル

.button-cancel {
  color: var(--articleText);
  border: 1px solid var(--horizontalRule);
  background: var(--horizontalRule);

  &:hover {
    color: var(--articleText);
    background: var(--grey60);
  }
}
/*グレーアウト*/
.button-grey-out {
  color: var(--grey);
  border: 1px solid var(--grey);
  pointer-events: none;
}
/*アクション*/
.action-button {
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
}
//ソーシャル

.social-button {
  position: relative;
  overflow: hidden;
  padding: 1rem 2rem;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: var(--btn-rounded);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  transition: var(--fade);
  display: inline-flex;
  height: auto;

  &:hover {
    background: var(--black);
    color: var(--white);
  }

  & .button-prefix {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: var(--white);
    border-right: 1px solid var(--black);

    & svg {
      width: auto;
      height: 20px;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      margin: 0;
    }
  }

  & .social-button-inner {
    padding-left: 50px;
    width: 100%;
  }
}
/*入力*/
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  & .input-prefix {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    & svg {
      width: auto;
      height: 15px;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;

      & path {
        fill: var(--grey);
      }
    }
  }

  & .input-suffix {
    right: 0;
    position: absolute;
    top: 0;
    height: 100%;
    line-height: inherit;

    &:before {
      content: "";
      position: absolute;
      top: 25%;
      left: 0;
      width: 1px;
      height: 50%;
      background: rgb(223, 225, 234);
    }

    & a {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 2rem;
    }
  }

  & .input-inner {
    padding-left: 45px;
  }
}

.input-inner {
  padding: 1.5rem 2rem;
  border: 1px solid var(--horizontalRule);
  border-radius: var(--btn-rounded);
  font-weight: 600;

  &:hover {
  }

  &::placeholder {
    color: var(--grey);
    font-weight: 400;
    font-size: 1.3rem;
  }
}
//選択（２つ）

.button-choice-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .button-choice-l {
    margin-right: 1rem;
    justify-content: center;
  }

  & .button-choice-r {
    margin-left: 1rem;
    justify-content: center;
  }
  @media screen and (max-width: $phablet) {
    grid-template-columns: 1fr;

    & .button-choice-l,
    .button-choice-r {
      margin: 0;
    }

    & .button-choice-l {
      margin-bottom: 2rem;
    }
  }
}
@media screen and (max-width: $phablet) {
  grid-template-columns: 1fr;
}
//フォーム・セレクトボタン

.select-button.ico {
  height: 100%;
  width: 100%;
  color: var(--articleText);
  border: 1px solid var(--horizontalRule);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  justify-content: flex-start;

  &:hover {
    border-color: var(--black);
  }
}

.select-button-bottom {
  margin-bottom: 1.5rem;
}
//アクティブ

button.button-active {
  border: 1px solid var(--horizontalRule);
  border-radius: 50%;

  svg {
    margin: 0.4rem;
    width: 7px;
  }
}

.button-active-number {
  margin: 0 0.8rem;
}
//width100

.button-w100 {
  display: block;
  width: 100%;
  text-align: center;
}
//アイコン

.ico-button {
  padding: 1rem;
  border: 1px solid var(--horizontalRule);
  border-radius: 50%;
  transition: var(--fade);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & svg {
    height: auto;
    width: 1.5rem;
  }

  &:hover {
    border-color: var(--accent);

    & svg * {
      fill: var(--accent);
    }
  }
}
