.accent {
  color: var(--accent);
}

/*Background*/
.bg-accent {
  background-color: var(--accent);
}
.bg-accent60 {
  background-color: var(--accent60);
}
.bg-black {
  background-color: var(--black);
}
.bg-grey {
  background-color: var(--background-grey);
}
