.accent {
  color: var(--accent);
}

.grey {
  color: var(--grey);
}

.black {
  color: var(--black);
}
.white {
  color: var(--white);
}

.d-paragraph {
  color: var(--d-articleText);
}

/*Background*/
.bg-accent {
  background: var(--accent);
}
.bg-accent60 {
  background: var(--accent60);
}
div.bg-white {
  background: var(--white);
}
div.bg-black {
  background: var(--black);
}
div.bg-grey {
  background: var(--background-grey);
}
//ネガティブ
div.bg-red {
  background: var(--red);
}
