.accent {
  color: var(--accent);

  & * {
    fill: var(--accent);
  }
}

.grey {
  color: var(--grey);
}

.grey-paragraph {
  color: var(--articleText80);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.d-paragraph {
  color: var(--d-articleText);
}
/*Background*/
.bg-accent {
  background: var(--accent);
}

.bg-accent80 {
  background: var(--accent80);
}

.bg-accent60 {
  background: var(--accent60);
}

.bg-white {
  background: var(--white);
}

.bg-black {
  background: var(--black);
}

.bg-snow {
  background: var(--snow);
}
//

div.bg-yellow {
  background: var(--yellow);
}

div.bg-blue {
  background: var(--blue);
}

div.bg-red {
  background: var(--red);
}

div.bg-red80 {
  background: var(--red80);
}

div.bg-red60 {
  background: var(--red60);
}