.contents {
  padding: 5rem 0;
  background: var(--bacground-color);
}
.contents2 {
  padding: 10rem 0;
}
.contents-top2 {
  padding-top:10rem;
}
@media screen and (max-width: $phablet) {
  .contents {
    padding: 3rem 0;
  }
  .contents2 {
    padding: 6rem 0;
  }
  .contents-top2 {
    padding-top:6rem;
  }
}

/*Card*/
.card {
  border-radius: 4px;
  overflow: hidden;
  padding: 2rem;
  border: 1px solid var(--horizontalRule);
}
.card-wrapper {
  padding: 2rem;
}

.card-border {
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid var(--horizontalRule);
}
/*Border*/
.border {
  border: 1px solid var(--horizontalRule);
}
//Border Radius
.border-radius {
        border-radius: 4px;
        overflow: hidden;
}

/*Flex*/
.flex {
	display: flex;
  align-items: center;
}

//幅
.w-auto {
  width: auto;
}
.w100 {
  width: 100%;
}
