div.edit-row {
  text-align: left;
}
.edit-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 5rem;
  align-items: flex-start;
  @media screen and (max-width: $tablet) {
  grid-template-columns: 1fr;
}
  //ナビ
  & .edit-nav {
    position: sticky;
    top: 0;
    line-height: 1;
    & .edit-nav-inner a{
      display: block;
      padding-top: 2rem;
      text-align: left;
    }
  }
  //セクション
  .edit-section {
    transition: .3s;
    margin-bottom: 4rem;
  }
  h3.edit-section-title {
    padding-bottom: 0;
    line-height: 1;
  }
  h6.edit-section-title {
    line-height: 1;
  }
  //項目
  & .edit-item {
  padding: 2rem 0;
  display: block;
  }
  //入力
  & .edit-input-inner{
    display: block;
    padding: 1.5rem;
width: 100%;
    font-size: 1.6rem;
    color: var(--articleText);
    font-weight: 400;
  }
  //テキストエリア
  & .edit-area {
    border-radius: 4px;
    height: 200px;
    border: 1px solid var(--horizontalRule);
    line-height: 1.756;
    font-size: 1.6rem;
    width: 100%;
    padding: 1.5rem;
    margin: .5rem 0;
    color: var(--articleText);
  }
  //プロフィール画像
  .edit-user-button-wrapper {
    display: flex;
    align-items: center;
    & .button {
    margin-right: 2rem;
    }
  }
.edit-user-icon {
    margin: 0;
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  .edit-connections {
    display: flex;
    justify-content: space-between;
    & svg{
      width: 20px;
      margin-right: .8em;
    }
    & .edit-connected-button {
      color:var(--black);
      border: none;
      background: none;

      &:before {
        content: "";
    color: var(--accent);
    margin-right: .7em;
    display: inline-block;
    transform: rotate(45deg);
    height: 10px;
    width: 6px;
    border-bottom: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
      }
    }
  }
  //お知らせ
  .edit-toggle-wrapper {
    display: flex;
align-items: center;
padding: 1rem 0;
& .edit-toggle-text {
  width: 100%;
  color: var(--articleText);
  margin: 0;
}
  }
  //hr
   .edit-hr {
    padding-bottom: 1rem;
  }
  .edit-toggle {
    position: relative;
    width: 45px;
    height: 25px;
    display: inline-block;
    margin-right: 2rem;
  }
  .toggle-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.toggle-label {
  width: 45px;
  height: 25px;
  border: 1px solid var(--horizontalRule);
  position: relative;
  display: inline-block;
  border-radius: 50rem;
  transition: 0.4s;
  box-sizing: border-box;
  top: 0;
bottom: 0;
position: absolute;
margin: auto;
  &:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    left: 5px;
    top: 0;
    bottom: 0;
margin: auto;
    z-index: 2;
    background: var(--grey);
    transition: 0.4s;
  }
}
.toggle-input:checked {
  +.toggle-label{
    border: 1px solid var(--accent);
    &:after{
      left: 23px;
      background: var(--accent);
    }
  }
}
//ソーシャル
#social-settings  .input-wrapper {
  margin: .5rem 0;
}
//保存する
.edit-save-button {
padding-top: 5rem;
}
}
