.layout-styled {
  position: relative;
  background: var(--background-color);
  min-height: 100vh;
}

.post-border {
  border-bottom: 1px solid;
  border-color: var(--grey);
  max-width: 680px;
  margin: 100px auto;
}

.full-bg {
  height: auto;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
/*spotify*/
.play {
  max-width: 680px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 70px;
  @media screen and (max-width: $tablet) {
    max-width: 527px;
  }
}

.play iframe {
  width: 100%;
}

#share-buttons:after {
  content: "";
  display: block;
  clear: both;
}

#share-buttons > div {
  position: relative;
  text-align: right;
  float: right;
  text-align: center;
}

#share-buttons > div > svg {
  height: 25px;
  fill: var(--grey);
  @media screen and (max-width: $phone) {
    height: 20px;
  }
}

div.mail > svg {
  margin: 1rem 1.5rem 1rem 0;
}

div.twitter > svg {
  margin: 1rem 1.5rem;
}

div.facebook > svg {
  margin: 1rem 0 1rem 1.5rem;
}

#share-buttons > div:hover {
  cursor: pointer;
}

#share-buttons > div:hover > svg {
  fill: var(--accent);
}
