p {
  line-height: 1.756;
  font-size: 1.6rem;
  color: var(--articleText);
  font-family: var(--paragraph);
  margin: 0 auto 3.5rem;
  width: 100%;
  white-space: normal;
  & .p-icon svg {
    height: 1.6rem;
    fill: var(--articleText);
  }
  @media screen and (max-width: 735px) {
      margin-bottom: 2em;
}
}
.s-text {
  font-size: 1.5rem;
}
.xs-text {
  font-size: 1.3rem;
}
