.shots-wrapper {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap:4rem;
}
.shot {
  //タイトル&ユーザー
  overflow:hidden;
text-overflow: ellipsis;
white-space:nowrap;
  & .user-container {
    justify-content: flex-start;
    & .user-avatar {
      height: 30px;
      width: 30px;
    }
    & .user-inner {
      & h6, a {
        font-size: inherit;
        line-height: 1;
    font-size: 1.3rem;
      }
      & a {
        color: var(--articleText80);
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
  }
  //画像
  & .shot-recipe-img {
    margin: 1rem 0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    //材料
    & .shot-ingredients-wrapper {
          width: 100%;
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: .2s;
      background-color:	rgba(0,0,0,.7);
      pointer-events: none;

    & .shot-ingredients {
      font-size: .9rem;
      font-family: var(--paragraph);
      color: var(--white);
      white-space: normal;
      line-height: 1.6;
padding: 1rem;
display: inline-flex;
  }
    }
    &:hover {
            &  .shot-ingredients-wrapper {
        opacity: 1;
      }
    }
  }
  //情報
  & .shot-recipes-bio-wrapper {
    font-size: 1.2rem;
    & .shot-recipes-data {
      font-size: 1.2rem;
      display: flex;
      //中点
      & span {
        padding: 0 .3rem;
        color: var(--articleText80);
        & svg path {
          fill: var(--articleText80);
        }
      }
    }
  }
}

.user-link:hover .name {
  text-decoration: underline;
}
/*ローディング */
.shots-loading {
  padding: 3rem 0 7.5rem;
  text-align: center;
  color: var(--grey);
}

/*話題のレシピ*/
.topic-wrapper {
	overflow: auto;
	white-space: nowrap;
  scroll-snap-type: x mandatory;
  & .topic {
  	display: inline-block;
  	height: auto;
    width: 300px;
  	margin-right: 1.5rem;
    @media screen and (max-width: $phone) {
      width: 260px;
}
    & h6 {
      color: var(--black);
      padding: 0;
    }
  }
  & .recipes-bio-wrapper {
    padding-bottom: 0;
    margin-top: 1rem;
  }
}
