//Breakpoints
$phone: 376px;
$phablet: 540px;
$tablet: 735px;
$desktop: 1070px;
$desktop_medium: 1280px;
$desktop_large: 1500px; //フォント選定後どちらか削除
@font-face {
  font-family: 'Heisei Kaku Gothic';
  src: url("/fonts/Heisei-Kaku-Gothic-400.otf") format('otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Heisei Kaku Gothic';
  src: url("/fonts/Heisei-Kaku-Gothic-600.otf") format('otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Heisei Kaku Gothic';
  src: url("/fonts/Heisei-Kaku-Gothic-700.otf") format('otf');
  font-weight: 700;
}
@font-face {
  font-family: 'DNP Shuei Gothic Kin Std';
  src: url("/fonts/DNP-Shuei-Gothic-Kin-Std-L.otf") format('otf');
  font-weight: 400;
}
@font-face {
  font-family: 'DNP Shuei Gothic Kin Std';
  src: url("/fonts/DNP-Shuei-Gothic-Kin-Std-M.otf") format('otf');
  font-weight: 600;
}
@font-face {
  font-family: 'DNP Shuei Gothic Kin Std';
  src: url("/fonts/DNP-Shuei-Gothic-Kin-Std-B.otf") format('otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Circular';
  src: url("/fonts/Circular-Book.otf") format('otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Circular';
  src: url("/fonts/Circular-Medium.otf") format('otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Circular';
  src: url("/fonts/Circular-Bold.otf") format('otf');
  font-weight: 700;
}

body {
  //Typography
  --text: "Circular", "DNP Shuei Gothic Kin Std", sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-font-feature-settings: "pkna";
  -webkit-font-feature-settings: "pkna";
  font-feature-settings: "pkna";
  font-family: var(--text);
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  height: 100%;
  padding: 0;
  font-kerning: normal;
  color: var(--black);
  //Primary
  --snow: #f7f7f9;
  --white: #fff;
  --black: #231e2d;
  --accent: #ff5445;
  //Primary - Gradations
  --accent80: #cc4337;
  --accent60: #993229;
  --snow80: #d3d3dd;
  --snow75: #b6b6bf;
  --black110: #393142;
  --black80: #16131a;
  //Secondary
  --grey: #b6b6bf; //(snow75)
  //Secondary - GRADATIONS
  --grey60: rgba(176,176,176,.6);
  --grey40: rgba(176,176,176, .4);
  --grey20: rgba(176,176,176,.2);
  //Tertiary
  --blue: #345bf4;
  --green: #2ed9a3;
  --orange: #f48434;
  --yellow: #f4ee34;
  --red: #f43434;
  //Other
  --articleText: #4f4b57;
  --background-color: #fff;
  --horizontalRule: rgba(8, 8, 11, 0.15);
  --xs: 0.9rem;
  --small: 1.2rem;
  --fade: 0.2s;
  --rounded: 8px;
  --scroll: all 0.7s cubic-bezier(.63,.03,.17,.95);
  //Other - Gradations
  --articleText80: rgba(79,75,87, .8);
  --accent60: rgba(255, 84, 69, .6);
  //Dark
  --d-articleText: #c2bbd2;
}

::selection {
  background: var(--accent);
  color: #fcfcfc;
}

::-moz-selection {
  background: var(--accent);
  color: #fcfcfc;
}