@import '@styles/config';

//side nav
.side__nav {
  position: sticky;
  top: 15rem;
  padding: 0 0 0 $container-gutter;

  & .side__nav__item {
    display: block;
    font-size: $font-size-s;
    font-weight: 600;
    text-align: left;

    transition: $fade;

    &:hover {
      text-decoration: underline;
    }

    & .side__nav__link {
      display: block;
      padding: 1rem 1.5rem;
      border-left: $border;

      &.active {
        color: $accent;
        border-color: $accent;
      }
    }
  }
  @media (max-width: $tablet) {
    display: none;
  }
}
